@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero__ratings {
    --flow-space: 2.5rem;
  }

  .hero__rating {
    --flow-space: 1rem;
  }

  .hero__rating-copy {
    --flow-space: 0.25rem;
  }

  .testimonials {
    --flow-space: 2.75rem;
  }

  @media (min-width: theme("screens.xl")) {
    .hero__rating {
      display: flex;
      align-items: center;
      gap: 2rem;
      max-width: theme("maxWidth.md");
    }

    .hero__rating-figure {
      margin-left: 2rem;
    }

    .testimonials {
      --flow-space: 4.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    .testimonials .card {
      --flow-space: 0;
    }
  }

  .card {
    background-color: theme("colors.p-very-dark-magenta");
    border-radius: theme("borderRadius.lg");
    padding-inline: theme("padding.6");
    padding-top: theme("padding.9");
    padding-bottom: theme("padding.7");
    --flow-space: 1rem;
  }

  .card__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .card__figure {
    max-width: 2.5rem;
  }

  .card__img {
    border-radius: theme("borderRadius.full");
  }

  .card__headings {
    font-size: theme("fontSize.base");
  }

  .card__title {
    font-weight: bold;
    color: theme("colors.n-light-grayish-magenata");
  }

  .card__subtitle {
    font-weight: 500;
    color: theme("colors.p-very-soft-pink");
  }

  .card__copy {
    color: theme("colors.n-light-grayish-magenata");
    font-weight: 500;
    font-size: theme("fontSize.base");
    padding-inline: theme("padding.4");
  }
}

@layer utilities {
  .flow > :where(:not(:first-child)) {
    margin-top: var(--flow-space, 1.5rem);
  }
}

body {
  background-image: url(images/bg-pattern-top-mobile.svg),
    url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right center;
}

@media (min-width: theme("screens.xl")) {
  body {
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
  }
}
